/* raleway-regular - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway700/raleway700/raleway-v18-latin_cyrillic-regular.eot");
  src: local(""),
    url("../fonts/raleway700/raleway-v18-latin_cyrillic-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/raleway700/raleway-v18-latin_cyrillic-regular.woff2")
      format("woff2"),
    url("../fonts/raleway700/raleway-v18-latin_cyrillic-regular.woff")
      format("woff"),
    url("../fonts/raleway700/raleway-v18-latin_cyrillic-regular.ttf")
      format("truetype"),
    url("../fonts/raleway700/raleway-v18-latin_cyrillic-regular.svg#Raleway")
      format("svg");
}
/* raleway-700 - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway700/raleway-v18-latin_cyrillic-700.eot");
  src: local(""),
    url("../fonts/raleway700/raleway-v18-latin_cyrillic-700.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/raleway700/raleway-v18-latin_cyrillic-700.woff2")
      format("woff2"),
    url("../fonts/raleway700/raleway-v18-latin_cyrillic-700.woff")
      format("woff"),
    url("../fonts/raleway700/raleway-v18-latin_cyrillic-700.ttf")
      format("truetype"),
    url("../fonts/raleway700/raleway-v18-latin_cyrillic-700.svg#Raleway")
      format("svg");
}

:root {
  --black-text-color: #000000;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --opacity-white-color: rgba(255, 255, 255, 0.6);
  --background-color: #e5e5e5;
  --secondary-accent-color: #f5f4fa;
  --dark-background-color: #2f303a;
  --border-color: #eeeeee;
  --icon-color: #afb1b8;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  background-color: var(--white-color);
  color: var(--primary-text-color);
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.photo {
  margin: 0;
  padding: 0;
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

/* Стили шапки */

header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.logo {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Raleway", "Oleo Script", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.268;
  color: var(--black-text-color);
}

.logo-blue {
  color: var(--accent-color);
}

header .flex {
  justify-content: space-between;
  align-items: center;
}
.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.site-nav li:not(:last-child) {
  margin-right: 50px;
}

.main-nav .logo {
  margin-right: 93px;
}

.site-nav .link {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.contacts.list {
  display: flex;
}

.contacts.list li:not(:last-child) {
  margin-right: 50px;
}
.contacts .link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.phone-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

.contacts .link:hover .mail-icon,
.contacts .link:focus .mail-icon,
.contacts .link:hover .phone-icon,
.contacts .link:focus .phone-icon {
  color: var(--accent-color);
}

/* Стили героя */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  height: 600px;
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.hero .container {
  max-width: 696px;
}
.hero-title {
  margin-bottom: 30px;
  font-size: 44px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.364;
  letter-spacing: 0.06em;
  color: var(--white-color);
}

.button {
  font-family: inherit;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  border-style: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--white-color);
}

/* Общие стили секций */
.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.167;
  text-align: center;
  color: var(--title-text-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 0;
}

/* Стили секции "Преимущества" */

.benefit > li {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.benefit.list {
  margin-left: -30px;
  margin-top: -30px;
}

.benefit-item {
  flex-basis: calc(100% / 4 - 30px);
  height: 120px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 25px 100px;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-accent-color);
  border-radius: 4px;
}
.benefit-icon.list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.benefit-icon {
  width: 70px;
  height: 70px;
}

.benefit-title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.143;
  color: var(--title-text-color);
}

.benefit-desc {
  margin-top: 0;
  margin-bottom: 0;
}

/* Стили Чем мы занимаемся */

.work.section {
  padding-bottom: 94px;
}
.work-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.work.list {
  margin-left: -30px;
  margin-top: -30px;
}

/* Стили секции "Команда" */

.team.section {
  padding-bottom: 94px;
  background-color: var(--secondary-accent-color);
}

.team-member {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list.list {
  margin-left: -30px;
  margin-top: -30px;
}

.team-member .name {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.188;
  color: var(--title-text-color);
}

.team-member .position {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.188;
}

.social-list {
  margin-top: 16px;
  align-items: center;
  justify-content: center;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
}

.social-icon:not(:last-child) {
  margin-right: 10px;
}

.social.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social.link:hover,
.social.link:focus {
  background-color: var(--accent-color);
}

.social.link:hover .social-icon,
.social.link:focus .social-icon {
  fill: var(--white-color);
}

/* Стили секции Постоянные клиенты */

.clients.section {
  padding-bottom: 94px;
}

.client-icon {
  fill: var(--icon-color);
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
}

.clients-link:hover .client-icon,
.clients-link:focus .client-icon {
  fill: var(--accent-color);
}
.clients-list > li:not(:last-child) {
  margin-right: 30px;
}
/* Стили подвала */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-background-color);
}

.footer .container {
  display: flex;
  align-items: baseline;
}
.footer .logo {
  margin-bottom: 20px;
  color: var(--white-color);
}

.footer .social-title {
  margin-top: 0;
  margin-bottom: 0px;
  font-weight: 700;
  line-height: 1.143;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer .social.link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer .social-icon {
  fill: var(--white-color);
}

.footer .social-list {
  display: inline-flex;
  align-items: baseline;
  margin-top: 20px;
}

.footer .social-list > li:not(:last-child) {
  margin-right: 10px;
}

.footer .social.link:hover,
.footer .social.link:focus {
  background-color: var(--accent-color);
}

.footer .social-list-wrap {
  align-items: flex-end;
}

.footer-adress {
  align-items: baseline;
  margin-right: 70px;
}

.adress-list {
  list-style: none;
}

.adress-item:not(:last-child) {
  margin-bottom: 9px;
}

.adress-list .adress-item {
  line-height: 1.714;
  color: var(--white-color);
}

.adress-item .adress-link {
  line-height: 1.714;
  color: var(--opacity-white-color);
}

/* Стили Портфолио */

.works-examples {
  padding-bottom: 94px;
}

/* Стили списка фильтров */

.filters {
  margin-bottom: 50px;
}
.filters-list {
  justify-content: center;
}

.filters-list .button {
  box-sizing: inline-box;
  margin-right: 8px;
  padding: 6px 22px;
  min-width: 73px;
  height: 38px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  color: var(--title-text-color);
  background-color: var(--secondary-accent-color);
}

.filters-list .button:hover,
.filters-list .button:focus {
  font-weight: 500;
  font-size: 16px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* Стили Примеров работ */

.examples.list {
  margin-left: -30px;
  margin-top: -30px;
}
.examples-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  background: var(--white-color);
  /* outline: 1px solid tomato; */
}

.examples-item .border {
  padding: 24px 20px;
  box-sizing: border-box;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  background: var(--white-color);
}

.examples-item:hover,
.examples-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples .link {
  display: inline-block;
  margin-bottom: 4px;
  width: 322px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.examples .type {
  margin: 0;
  width: 322px;
  font-size: 16px;
  line-height: 1.875;
  color: var(--primary-text-color);
}
